name: test
on:
  push:
     branches: ["main"]
  pull_request:
     branches: ["main"]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: build job
        run: echo "step1 run..."
  Deploy:
    runs-on: windows-latest
    needs: build
    steps:
      - name: deploy job
        run: echo "step2 run..."
        
      
       
    
  
     
